* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  padding-top: 30px;
}

.container {
  width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-list {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
}

.navbar-list-child {
  font-size: 15px;
  color: #495567;
  font-weight: 600;
}

.nav {
  position: absolute;
  z-index: 1;
  top: 10;
  margin-left: 900px;
}

.btn {
  background: #FCB72B;
  color: white;
  width: 180px;
  height: 53px;
  border: none;
  font-weight: bold;
}

.main {
  width: 100%;
  height: 100vh;
  margin-top: 30px;
  background-image: url(/Bitmap\ \(1\).png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bgc {
  background-color: rgba(54, 50, 90, 0.307);
  height: 100vh;
}

.text {
  color: white;
}

.title {
  padding-top: 140px;
  width: 500px;
  font-size: 56px;
  font-weight: bold;
}

.width-text {
  width: 350px;
  font-size: 15px;
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btnt {
  background: #FCB72B;
  color: white;
  width: 180px;
  height: 53px;
  border: none;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 200px;
  animation: 5s;
}

.path2 {
  position: absolute;
  z-index: 1;
  left: 0;
  margin-top: 60px;
  margin-left: 80px;
}

.path3 {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  margin-top: 420px;
  margin-right: 80px;
}